html,body {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width:100%;
    display:block;
}

.container {
    width:100%;
    height:100%;
    background-color:pink;
    min-width:320px;
    max-width: 640px;
    margin:0 auto;
    padding-top:45px;
    padding-bottom:55px;
    overflow: hidden;
}

.lt_header {
    width:100%;
    height:45px;
    position:absolute;
    left:0px;
    top:0px;
    background-color:#069;
    padding-left:45px;
    padding-right:45px;
}

.lt_header .icon_left,
.lt_header .icon_right {
    width:45px;
    height:45px;
    position: absolute;
    top:0px;
    line-height: 45px;
    text-align: center;
    color:#fff;
}

.lt_header .icon_left {
    left:0px;
}

.lt_header .icon_right {
    right:0px;
}

.lt_header h3 {
    line-height: 45px;
    text-align: center;
    color:#fff;
    margin:0;
    font-size: 20px;
}

.lt_footer {
    width:100%;
    height:55px;
    position: absolute;
    left:0px;
    bottom:0px;
    background-color:#069;
}

.lt_footer ul li {
    float: left;
    width:25%;
    text-align: center;
}

.lt_footer ul li a {
   display: block;
   color:#fff;
   padding-top:8px;
}

.lt_footer ul li p {
    margin:0;
    color:#fff;
}

.lt_footer ul li a.current {
    color:orange;
}

.lt_footer ul li a.current p {
    color:orange;
}


.lt_main {
    width:100%;
    height:100%;
    background-color:#fff;
    position: relative;
}

/* 公用部分 搜索框 */
.lt_search {
    padding:10px;
    position:relative;
}

.lt_search input {
    height:34px;
    margin: 0;
    font-size: 12px;
    border-radius:5px;
}

.lt_search button {
    position: absolute;
    top:10px;
    right:10px;
    border-radius:0px 5px 5px 0px;
}

/* 公用部分 商品模块*/
/* 商品模块 */
.lt_product {
    padding:10px;
}

.lt_product ul li {
    float: left;
    width:48%;
    border:1px solid #666;
    border-radius:5px;
    margin-bottom:15px;
}

.lt_product ul li:nth-child(2n-1) {
    margin-right:4%;
} 

.lt_product ul li img {
    width:130px;
    height:130px;
    margin:0 auto;
}

.lt_product ul li a {
    display: block;
    padding: 1px;
    text-align: center;
}

.lt_product .price {
    color:red;
}

.lt_product .oldPrice {
    margin-left:5px;
    text-decoration: line-through;
}

.lt_product .mui-ellipsis-2 {
    height: 40px;
}