


.lt_history {
    padding:10px;
    font-size: 12px;   
}

.lt_history .title {
    height:30px;
    line-height:30px;
    color:#666;
}

.lt_history ul li {
    height:30px;
    line-height:30px;
    border-bottom:1px dashed red;
}

.lt_history ul li a {
    padding:0 10px;
}
 
.lt_history ul li i {
    line-height: 30px;
}

.lt_history ul {
    border:1px dashed red;
}

.lt_history ul li:last-child {
    border-bottom:none;
}


