/* 全局样式部分 */

a:link,
a:visit,
a:hover,
a:active {
    text-decoration:none;
}

img {
    display: block;
    width:100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style:none;
}

.red {
    color:#a94442;
}

/* 让所有的表格里面的内容都居中 这里注意权重问题*/
.table.table-bordered th,
.table.table-bordered td {
    text-align: center;
    vertical-align: middle;
}


/* login页面的样式 */
.body_bg {
    background-color: #222d32;
}

.panel-title {
    text-align:center;
    height:40px;
    line-height: 40px;
}

.mt_150 {
    margin-top: 150px;
}

/* index页面 左侧侧边栏布局 */
.lt_side {
    width:180px;
    height:100%;
    background-color:#222D32;
    position:fixed;
    top:0px;
    left:0px;
    z-index:999;
    transition: all 1s;
}

.lt_side.hiddenmenu{
    left:-180px;
}

.lt_side .brand {
    width:180px;
    height:50px;
    background-color:#367FA9;
    text-align:center;
}

.lt_side .brand a {
    font-size:20px;
    display: block;
    color:#fff;
    line-height: 50px;
    text-decoration:none;
}

.lt_side .user {
    padding-top:20px;
    padding-bottom:20px;
}

.lt_side .user img {
    width:80px;
    height:80px;
    margin:0 auto;
    border-radius:50%;
}

.lt_side .user p {
    line-height:2px;
    text-align: center;
    color:#fff;
    font-size:18px;
    padding-top:10px;
}

.lt_side .nav a {
    display:block;
    height:40px;
    line-height:40px;
    color:#fff;
    font-size:16px;
    padding-left:40px;
    border-left:3px solid transparent;
    text-decoration: none;
}

.lt_side .nav a i {
    margin-right:4px;
}

.lt_side .nav .children {
    display:none;
}

.lt_side .nav .children a {
    padding-left:60px;
}

.lt_side .nav a.active {
    background-color: #1d1f2e;
    border-left:3px solid #069;
}

/* 右边主体部分 */
.lt_main {
    padding-top:50px;
    padding-left:180px;
    height:1000px;
    /* background-color:pink;   */
    transition:all 1s;
}

.lt_main.hiddenmenu {
    padding-left:0;
}

.lt_topbar {
    position:fixed;
    width:100%;
    height:50px;
    top:0;
    left:0;
    background-color:#3c8dbc;
    padding-left:180px;
    transition:all 1s;
    z-index:666;
}

.lt_topbar.hiddenmenu {
    padding-left:0;
}

.lt_topbar .icon_menu,
.lt_topbar .icon_logout { /*已经左浮动和右浮动了*/
    width:50px;
    height:50px;
    line-height: 50px;
    text-align: center;
    color:#fff;
    font-size: 20px; 
}

.lt_main .content {
    padding:10px;
}

.lt_main .echarts_left,
.lt_main .echarts_right {
    width:48%;         /*这边用流式布局宽百分比 高固定 这里为什么不设置50% 让两个图左浮动和右浮动 不要贴太近*/
    height:400px;
    background-color:skyblue;
}

.mg_20 {
    margin-bottom:20px;
}

